
:root {
  --max-width: 114rem;
  --signature-color-1: #FF6565;
  --signature-color-2: #234B59;
  --text-color-light: rgba(51, 51, 51, 0.8);
  --text-color-dark : #333;
  --background-color: rgba(0, 0, 0, 0.03);
  --white-color : white;
  --spacing-10 : 1rem;
  --spacing-15: 1.5rem;
  --spacing-30: 3rem;
  --spacing-50: 5rem;
  --shadow:0.4rem 0.4rem 2rem rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Sen', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  background-color: var(--background-color) ;
  color: var(--text-color);
}
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.spacer {
  height: 0.2rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.reverse {
  flex-direction: row-reverse;
}
.no__text__decoration {
  text-decoration: none;
  color: var(--text-color)
}
.header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}