// --------------------Switching Menu--------------
.switching__menu {
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  a {
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 700;
    opacity: 50%;
    padding: 0.5rem 0;
  }
  .active {
    opacity: 100%;
    border-bottom: 4px solid var(--signature-color-2);
  }
}
// --------------------Highlighted Data Section--------------
.highlighted__data__section {
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.highlighted__box {
  display: flex;
  max-width: 43rem;
  width: 100%;
  align-items: center;
  gap: 3rem;
  background-color: var(--white);
  border-radius: 20px;
  padding: 15px 20px;;
  box-shadow: var(--shadow)
}
.highlighted__item {
  margin: 0 auto;
  h5 {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 3.6rem;
    border-left: 5px solid var(--signature-color-1);
    padding-left: 1.5rem;
  }
}
// -------------------------- Feature Container -------------
.features__container {
  padding: 3rem 0;
  width: 100%;
  flex-grow: 1;
  background-color: White;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  .features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features__description {
    max-width: 100rem;
    text-align: center;
    font-size: 1.8rem;
    opacity: 0.8;
    color: var(--text-color)
  }
  .summarized__chart {
    width: 100%;
    min-height: 25rem;
    background-color: var(--signature-color-2)
  }
}
