.coef__container {
  max-width: 1140px;
}
.table__container {
  max-width: 100%;
  width: 100%;
}
.table {
  max-width: 1140px;
  width: 100%;
  display: table;
  font-size: 12px;
  border: 1px solid var(--signature-color-2);
  text-align: center;
  border-collapse: collapse;
  .tr {
    display: table-row;
  }
  .tr:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }
  .td:hover {
    background-color: var(--signature-color-2);
    color: white;
  }
  .td:first-child {
    min-width: 180px;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
  }
  .td {
    display: table-cell;
    min-width: 6rem;
    padding: 2px 5px;

    p {
      margin: 0 auto;
    }
  }
  .table__header {
    background-color: #234B59;
    color: white;
    font-weight: 700;
  }
  .border {
    border: 1px solid #234B59 !important;
  }
  .negative-value {
    color: red;
  }
}