

.table {
  display: table;
  border: 1px solid var(--signature-color-2);
  text-align: center;
  border-collapse: collapse;
  font-size: 1.4rem;
  .thead {
    display: table-header-group;
    background-color: #234b592d;
  }
  .tbody {
    display: table-row-group;
    border: 1px solid #234B59;

  }
  .row__title {
    font-size: 1.6rem !important;
    min-width: 20rem !important;
    font-weight: 600;
    text-align: left;
  }
  //--------------------- tr -------------------------------
  .tr {
    display: table-row;
  }
  .tr:hover {
    backdrop-filter: brightness(90%);
  }

 //--------------------- td -------------------------------
  .th {
   display: table-cell;
   width: 100%;
   min-width: 6.2rem;
   padding: 2px 5px;
   font-size: 1.4rem;
   font-weight: 600;
   background-color: #234B59;
   color: white;

 }
  .td {
    display: table-cell;
    padding: 2px 5px;
  }
  .td:hover {
    background-color: var(--signature-color-2);
    color: white;
  }

  .td:last-child {
    min-width: 4rem;
  }
  .fa-chevron-down, .fa-chevron-up {
    cursor: pointer;
  }
}
.hidden {
  display: none;
}
.dark__bg {
  backdrop-filter: brightness(85%);
  font-size: 1.6rem;
}
.red__bg {
  color: white;
  background-color: red !important;
}
.green__bg {
  color: white;
  background-color: green !important;
}