.coef__container {
  max-width: 1140px;
}
.table__container {
  max-width: 100%;
  width: 100%;
}
.table {
  display: table;
  max-width: 1140px;
  width: 100%;
  font-size: 12px;
  border: 1px solid var(--signature-color-2);
  text-align: center;
  border-collapse: collapse;
  .thead {
    display: table-header-group;
    background-color: #234b592d;
  }
  .tbody {
    display: table-row-group;
    border: 1px solid #234B59;
  }
  .col__title {
    background-color: #234B59;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
  }
  .row__title {
    font-size: 1.6rem !important;
    font-weight: 600;
    text-align: left;
  }
  //--------------------- tr -------------------------------
  .tr {
    display: table-row;
  }
  .tr:hover {
    backdrop-filter: brightness(90%);
  }
  .dark__bg {
    backdrop-filter: brightness(90%);
  }
 //--------------------- td -------------------------------
 .th {
   display: table-cell;
   width: 100%;
   min-width: 6.2rem;
   padding: 2px 5px;
   font-size: 1.4rem;
 }
  .td {
    display: table-cell;
    width: 100%;
    min-width: 6.2rem;
    padding: 2px 5px;
    font-size: 1.4rem;
    p {
      margin: 0 auto;
    }
  }
  .td:hover {
    background-color: var(--signature-color-2);
    color: white;
  }

  .td:last-child {
    min-width: 4rem;
  }
  .border {
    border: 1px solid #234B59 !important;
  }
  .negative-value {
    color: red;
  }
  .fa-chevron-down {
    cursor: pointer;
  }
}
